<!DOCTYPE html>
<html lang="en">
  <head>
    <title>AeroTrade | Premier Destination for Buying and Selling Aircraft</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />

    <!-- font awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet">

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
  </head>

  <body>
    <header class="header">
      <!-- <div class="nav-box">
        <div class="logo">
          <i class="fa-solid fa-plane-up"></i>
        </div>
        <nav class="nav-bar">
          <ul class="nav-bar-items">
            <li><a href="#">Home</a></li>
            <li><a href="#">Search</a></li>
            <li><a href="#">Sell</a></li>
            <li><a href="#">Listings</a></li>
            <li><a href="#">Favorites</a></li>
            <li><a href="#">Messages</a></li>
            <li class="user"><a href="#">Log out</a></li>
          </ul>
        </nav> -->
      </div>
      <div class="header-text">
        <h1>AeroTrade</h1>
        <h2>Where Dreams Take Flight: Your Ultimate Aircraft Exchange</h2>
        <button class="header-button" id="view-our-planes">View our planes  &darr;</button>
      </div>
    </header>
    <main id="main">
     <section class="all-listings">
      <!-- <section class="all-listings">
        <div class="divider">
          <div class="divider-line"></div>
          <h2 class="divider-text">Featured Listings</h2>
          <div class="divider-line"></div>
        </div>
        <article class="listing">
          <div class="listing-image">
            <img
              src="https://airmart.com/wp-content/uploads/2023/08/2001_Aviat_A1-B_Husky_ForSale_AirMart-5-scaled.jpg"
              alt="plane listing image"
            />
          </div>
          <div class="listing-details">
            <h2 class="listing-details-title">One plane</h2>
            <ul class="listing-details-items">
              <li>PRICE: $199,900</li>
              <li>YEAR: 2000</li>
              <li>CONDITION: Good</li>
              <li>MAKE: Aviat</li>
              <li>MODEL: Husky A-1B</li>
              <li>AIRFRAME: 295 hours</li>
              <li>ENGINE: 295 hours</li>
            </ul>
            <footer class="listing-footer">
              <button class="footer-button details-button">View details</button>
              <button class="footer-button like-button">
                <i class="fa-solid fa-heart"></i>
              </button>
            </footer>
          </div>
        </article>
      </section> -->
      </section>

      <section class="all-messages"></section>
      <section class="new-message"></section>
      <!-- <section class="signup-section">
        <div class="signup-box">
          <div class="signup-form-with-title">
            <h2>ELEVATE YOUR DREAMS, SIGN UP TODAY!</h2>
            <form action="#" class="signup-form">
              <div class="form__group">
                <input type="text" class="form__input" placeholder="Full name" id="signup-name" required>
                <label for="name" class="form__label">Full name</label>
              </div>
              <div class="form__group">
                 <input type="email" class="form__input" placeholder="Email address" id="signup-email" required>
                 <label for="email" class="form__label">Email address</label>
              </div>
              <div class="form__group">
                <input type="text" class="form__input" placeholder="Password" id="signup-password" required>
                <label for="password" class="form__label">Password</label>
              </div>
              <div class="form__group">
                <button class="signup-button">Sign up</button>
              </div>
            </form>
          </div>
        </div>
    </section>

    <section class="login-section">
      <div class="login-box">
        <div class="login-form-with-title">
            <h2>READY FOR TAKEOFF? LOG IN NOW!</h2>
            <form action="#" class="login-form">
              <div class="form__group">
                  <input type="email" class="form__input" placeholder="Email address" id="login-email" required>
                  <label for="email" class="form__label">Email address</label>
              </div>
              <div class="form__group">
                <input type="text" class="form__input" placeholder="Password" id="login-password" required>
                <label for="password" class="form__label">Password</label>
              </div>
              <div class="form__group">
                <button class="login-button">Log In</button>
               </div>
            </form>
        </div>
      </div>
  </section>

  <section class="logout-section">
    <div class="logout-box">
      <div class="logout-with-title">
        <h2>UNTIL NEXT TIME . . .</h2>
          <div class="logout-buttons">
            <button class="logout-button">Log out</button>
          </div>
          <div class="form__group">
            <button class="logout-cancel"><a href="#">Cancel</a></button>
          </div>
      </div>
    </div>
</section> -->

 <section class="view-specific-listing">
 <!-- <div class="view-top">
  <h2 id="planes-title">1956 Beechcraft BONANZA</h2>
  </div>
  <div class="view-bottom">
    <div class="plane-image">
      <img class="view-right"
        src="https://github.com/joycuicui/midterm/blob/master/public/images/1/1956_bonanza_1.jpg?raw=true"
        id = "planes-image-path"
        alt="plane listing image"
      />
    </div>
    <div class="view-right">

        <div class="planeDesc">
            <span class="label">DESCRIPTION :</span>
            <span class="value" id = "planes-description">One of the nicest G35 Bonanza''s on the marked. VREF value is WELL over 100,000. The book says 184 MPH but with the speed mods and depending on temperature, I''ve actualy seen 190 TAS at 7,500 ft. The service ceiling is 19,000 ft. which is about 2,000 ft. higher than the newer Bonanza''s. Comes with pilot and co-pilot David Clark headsets, tow bar and a 4 place portable oxygen system. Always hangared but also comes with a like new custom made cover for overnight trips.</span>
        </div>
        <div class="ten-details">
          <div class="first-five">
            <div class="planesPrice">
              <span class="label">PRICE :</span>
              <span class="value" id = "planes-price">88000</span>
            </div>
            <div class="planeYear">
              <span class="label">YEAR :</span>
              <span class="value" id = "planes-year">1956</span>
            </div>
            <div class="planeMake">
              <span class="label">MAKE :</span>
              <span class="value" id = "planes-make">Beechcraft</span>
            </div>
            <div class="planeModel">
              <span class="label">MODEL:</span>
              <span class="value" id = "planes-model">BONANZA</span>
            </div>
            <div class="planeCondition">
              <span class="label">CONDIITON :</span>
              <span class="value" id = "planes-condition">Used</span>
            </div>
          </div>
          <div class="second-five">
            <div class="planeClass">
              <span class="label">CLASS :</span>
              <span class="value" id = "planes-class">Single Engine Prop</span>
            </div>
            <div class="planeAirFrameHrs">
              <span class="label">AIR FRAME HOURS :</span>
              <span class="value" id = "planes-airframe-hours">4776</span>
            </div>
            <div class="planeEngineHrs">
              <span class="label">ENGINE HOURS :</span>
              <span class="value" id = "planes-engine-hours">636</span>
            </div>

            <div class="planeSeller">
              <span class="label">SELLER :</span>
              <span class="value" id = "planes-user-id">1</span>
            </div>
            <div class="planePosted">
              <span class="label">DATE POSTED :</span>
              <span class="value" id = "planes-date-posted">2021-01-15 14:30</span>
            </div>
          </div>
      </div>
        <div class="view-action-buttons">
            <form action="" method="">
              <button class="footer-button buy-button" id="buy-button">BUY</button>
            </form>
            <form action="" method="">
              <button class="footer-button like-button" id="like-button"><i class="fa-solid fa-heart"></i></button>
            </form>
            <form action="" method="">
              <button class="footer-button edit-button" id="edit-button">EDIT</button>
            </form>
            <form action="" method="">
              <button class="footer-button delete-button" id="delete-button">DELETE</button>
            </form>
      </div>
  </div>
</div>
 -->
</section>


    </main>
  </body>
</html>
