<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Search Page</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/search.css" />

    <!-- font awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
  </head>

  <body>
    <header class="header"></header>
    <section class="search-box">
      <h2>SEARCH FOR YOUR DREAM PLANE</h2>
      <form id="planeForm" class="planeForm" action="/" method="post">
        <div class="form-left">
          <input
            type="text"
            id="year"
            name="year"
            placeholder="Year"
            required
          />
          <input
            type="text"
            id="condition"
            name="condition"
            placeholder="Condition"
            required
          />

          <div class="input-inline">
            <input
              type="text"
              id="minprice"
              name="minprice"
              placeholder="Minimum Price"
              required
            />

            <input
              type="text"
              id="maxprice"
              name="maxprice"
              placeholder="Maximum Price"
              required
            />
          </div>
          <input
            type="text"
            id="make"
            name="make"
            placeholder="Make"
            required
          />

          <button type="submit">SEARCH</button>
        </div>
      </form>
    </section>
    <script src="/javascript/header.js"></script>
  </body>
</html>
