@import "./variables";

.header {
  height: 90vh;
  background-image: linear-gradient(rgba($blue, 0.9), rgba($blue, 0.9)),
    url("https://images.pexels.com/photos/19354200/pexels-photo-19354200/free-photo-of-planes-flying-in-blue-sky.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  background-position: center;
  position: relative;
}

.nav-box {
  background-color: $yellow;
  padding-left: 3rem;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  // newly added
  width: 100%;
  position: fixed;
  z-index: 10;
}

.logo {
  margin-right: 3rem;
  color: $blue;
  font-size: 3rem;
}

.nav-bar {
  display: flex;
  flex: 1;
  align-self: stretch;
}

.nav-bar-items {
  list-style: none;
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.nav-bar-items li:hover {
  cursor: pointer;
  background-color: $yellow-dark;
}

nav li {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

li a {
  text-decoration: none;
  color: $grey-dark-1;
}

.header-text {
  position: absolute;
  top: 55%;
  left: 35%;
  transform: translate(-50%, -50%);
  text-align: left;
  color: #fff;
  h1 {
    font-weight: 700;
    font-size: 4rem;
  }
}

.header-button {
  margin-top: 2.5rem;
  background-color: $yellow;
  text-transform: uppercase;
  padding: 1.5rem 2rem;
  color: #fff;
  border: none;
  transition: all 0.2s;

  &:hover {
    cursor: pointer;
    background-color: $yellow-dark;
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  }

  &:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }
}
