@import "./variables";

.message-container {
  border-radius: 25px;
  width: 70vw;
  margin: 2rem auto;
  background-color: #f9f7f6;
  box-shadow: 0.7rem 0.7rem 1rem rgba(0, 0, 0, 0.2);
}
.message-flex {
  display: flex;
  justify-content: space-around;
}
.message-list {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
}
.message-title {
  font-weight: bold;
}
.message-list p {
  color: #b28451;
  margin-bottom: 2rem;
}
.message-sender p {
  color: #b28451;
  margin-bottom: 2rem;
}
.message-sender {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.message-form {
  padding-left: 5rem;
  padding-bottom: 4rem;
}
.message-form p {
  font-weight: bold;
  margin-top: 10px;
  color: #101d2c;
}
.message-form input {
  display: inline-block;
  width: 80%;
}
