.signup {
  margin: 8rem 5rem;
  padding: 10rem 0;
}
.signup-box {
  background-image: linear-gradient(
      105deg,
      rgba(207, 210, 213, 0.7) 0%,
      rgba(207, 210, 213, 0.7) 50%,
      transparent 50%
    ),
    url("https://images.pexels.com/photos/1831271/pexels-photo-1831271.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  height: 53rem;
}
.signup-form-with-titile {
  width: 50%;
  padding: 6rem;
}

.form__group:not(:last-child) {
  margin-bottom: 2rem;
}

.signup-form {
  margin-top: 5rem;
}

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rbga(#fff, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all 0.3s;
}
.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #ec994b;
}
.form__input:focus:invalid {
  border-bottom: 3px solid #e25e3e;
}
.form__input::-webkit-input-placeholder {
  color: #999;
}

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

.signup-button {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
  background-color: #244979;
  color: #fff;
}

.login {
  margin: 8rem 5rem;
  padding: 10rem 0;
}
.login-box {
  background-image: linear-gradient(
      105deg,
      rgba(207, 210, 213, 0.7) 0%,
      rgba(207, 210, 213, 0.7) 50%,
      transparent 50%
    ),
    url("https://images.pexels.com/photos/827181/pexels-photo-827181.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  height: 50rem;
}
.login-form-with-titile {
  width: 50%;
  padding: 6rem;
}

.login-form {
  margin-top: 7rem;
}

.login-button {
  margin-top: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
  background-color: #244979;
  color: #fff;
}

.logout-section {
  margin: 8rem 5rem;
  padding: 10rem 0;
}
.logout-box {
  background-image: linear-gradient(
      105deg,
      rgba(207, 210, 213, 0.7) 0%,
      rgba(207, 210, 213, 0.7) 50%,
      transparent 50%
    ),
    url("https://images.pexels.com/photos/2128162/pexels-photo-2128162.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  height: 50rem;
}

.logout-with-title {
  width: 50%;
  padding: 10rem;
}

.logout-buttons {
  margin-top: 7rem;
}

.logout-button,
.logout-cancel {
  margin-top: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
  background-color: #244979;
  color: #fff;
}

button a {
  text-decoration: none;
  color: #fff;
}
